<div class="filterboxes">
    &nbsp;
    <mat-form-field class="col-12" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search the customer" [(ngModel)]="filteredString" (keyup)="onSearchTerm()">
    </mat-form-field>
</div>
<div class="table">
  <router-outlet></router-outlet>
  <ng-container *ngIf="!filter">
      <table class="full-width table-stripped table-hover">
        <thead>
          <th>Customer Name</th>
          <th>Customer VAT</th>
        </thead>
        <tbody>
          <tr *ngFor="let dataItem of CustomerList; let i = index" [class.active]="i == currentIndex"
            (click)="setCurrentCustomer(dataItem, i)" [routerLink]="['viewcustomer/',dataItem.id]" style="cursor: pointer;">
            <td>
              <table>
                <tr>
                  <td class="customer-name">
                    <ng-container *ngIf="dataItem.isDelete != 1">
                    <strong>{{dataItem.name}}</strong>
                  </ng-container>
                </td>
                </tr>
                <tr>
                  <td class="med-text"><span class="material-icons"
                      style="font-size: 13px;">mail_outline</span>{{dataItem.email}} | <span class="material-icons"
                      style="font-size: 13px;">phone</span>{{dataItem.phone}}</td>
                </tr>
              </table>
            </td>
            <td class="Agency-name">{{dataItem.vat}}</td>
            <td class="Agency-name">{{dataItem.managerId}}</td>
          </tr>
        </tbody>
      </table>
  </ng-container>

  <ng-container *ngIf="filter">
    <table class="full-width table-stripped table-hover">
      <thead>
        <th>Customer Name</th>
        <th>Customer VAT</th>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of filteredResult; let i = index" [class.active]="i == currentIndex"
          (click)="setCurrentCustomer(dataItem, i)" [routerLink]="['viewcustomer/',dataItem.id]" style="cursor: pointer;">
          <td>
            <table>
              <tr>
                <td class="customer-name"><strong>{{dataItem.name}}</strong></td>
              </tr>
              <tr>
                <td class="med-text"><span class="material-icons"
                    style="font-size: 13px;">mail_outline</span>{{dataItem.email}} | <span class="material-icons"
                    style="font-size: 13px;">phone</span>{{dataItem.phone}}</td>
              </tr>
            </table>
          </td>
          <td class="Agency-name">{{dataItem.vat}}</td>
          <td class="Agency-name">{{dataItem.managerId}}</td>
        </tr>
      </tbody>
    </table>
</ng-container>
  
</div>
<div>
    <span style="display: none;">END OF CUSTOMER LIST</span>&nbsp;
</div>
<div style="position: fixed; right: 40px; bottom: 30px;">
    <button mat-fab routerLink="/create-customer"
    #tooltip="matTooltip"
    matTooltip="Create New Customer"
    ><mat-icon>add</mat-icon></button>
</div>
    <div>
        <footer>&nbsp;</footer>
    </div>