
<div class="registro-nemesis">
    <!-- <div class="logo-registro" style="display: inline-flex ;align-self: center;"><img width=300 src="assets/img/logo-nemesisfull.png" /></div> -->
    <h1  style="text-align: center; padding-top: 30px;">CHANGE PASSWORD FOR USER - NEMESIS</h1>
    <div class="inputs">
        <div class="registro">
            <form class="registroform" id="registro" (ngSubmit)="onSubmit(f)" #f="ngForm">
                
                <span *ngIf="f.submitted && f.controls['email'].errors"
                    class="text-danger animated fadeIn">The email is required</span>
                <mat-form-field class="registrowidth">
                    <mat-label>EMAIL</mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="usuario.email" autocomplete="nope"
                    email required autofocus placeholder="Email"><br>
                </mat-form-field>
                <input class="inputbutton" type="submit" value="Send Email"><br>
            </form>
        </div>
        <div class="copyright">
            <p>© Nemesis 2021</p>
        </div>
    </div>
</div>

