
<div style="background-color: whitesmoke; margin: 0;">
    <div class="forminmargin">
        <div *ngIf="theCustomerData">
            <mat-card class="example-card">
                  <mat-card-title>Customer Information</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div>
                        <div>
                            <div color="primary" ><br>
                                <table>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Customer Id</td>
                                        <td>:</td>
                                        <td colspan="1">{{theCustomerData.id}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Customer Name</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theCustomerData.name}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <mat-form-field>
                                                    <input matInput type="text" name="name" id="name" [(ngModel)]="changesCustomer.name" autofocus>
                                                </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="1">IVA</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theCustomerData.vat}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <mat-form-field>
                                                    <input matInput type="text" name="vat" id="vat" [(ngModel)]="changesCustomer.vat" autofocus>
                                                </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div><br>
                    <ng-container style="padding-top: 20px;">
                        <mat-divider></mat-divider>
                    </ng-container>
                    <mat-divider></mat-divider>
                    <div><br>
                        <h2>Customer Contact</h2>
                                <div>
                                    <table>
                                        <tr>
                                            <td colspan="1" style="width: 150px;">Address</td>
                                            <td>:</td>
                                            <td colspan="1">
                                                <ng-container *ngIf="!edit">
                                                    {{theCustomerData.address}}
                                                </ng-container>
                                                <ng-container *ngIf="edit">
                                                    <mat-form-field>
                                                        <input matInput type="text" name="address" id="address" [(ngModel)]="changesCustomer.address">
                                                    </mat-form-field>
                                                </ng-container>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Email</td>
                                            <td>:</td>
                                            <td colspan="1">
                                                <ng-container *ngIf="!edit">
                                                    {{theCustomerData.email}}
                                                </ng-container>
                                                <ng-container *ngIf="edit">
                                                    <mat-form-field>
                                                        <input matInput type="text" name="email" id="email" [(ngModel)]="changesCustomer.email">
                                                    </mat-form-field>
                                                </ng-container>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Phone</td>
                                            <td>:</td>
                                            <td colspan="1">
                                                <ng-container *ngIf="!edit">
                                                    {{theCustomerData.phone}}
                                                </ng-container>
                                                <ng-container *ngIf="edit">
                                                    <mat-form-field>
                                                        <input matInput type="text" name="phone" id="phone" [(ngModel)]="changesCustomer.phone">
                                                    </mat-form-field>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                    </div>
                  
                </mat-card-content>
            </mat-card>
            <ng-container style="padding-top: 20px;">
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </div>
</div>

<div style="position: fixed; right: 40px; bottom: 30px; display: inline-block;">
    <div *ngIf="!edit" style="padding-bottom: 20px;">
        <!-- <button mat-fab [routerLink]="['/edit-ticket/', theCustomerData.id]"><mat-icon>edit-row</mat-icon></button> -->
        <button mat-fab (click)="editFields()"><mat-icon>edit-row</mat-icon></button>
    </div>
    <div style="padding-bottom: 20px;">
        <button mat-fab
        #tooltip="matTooltip"
          matTooltip="Erase Button"
          (click)="deleteItem(theCustomerData.id);"
        ><mat-icon>delete_forever</mat-icon></button>
    </div>
    <div *ngIf="edit" style="padding-bottom: 20px;">
        <button mat-fab
        #tooltip="matTooltip"
          matTooltip="Save changes"
          (click)="updateChanges(theCustomerData.id); editFields()"
        ><mat-icon>save</mat-icon></button>
    <!-- [routerLink]="['/edit-ticket/', theCustomerData.id]" -->
    </div>
    <div>
        <button mat-fab color="warn" routerLink="/customers"
        #tooltip="matTooltip"
        matTooltip="Return to List without changes">
        <mat-icon>close</mat-icon></button>
    </div>
</div>