<h1 mat-dialog-title>
    <img src="https://img.icons8.com/material-sharp/24/000000/xls-import.png"/>
    Upload several tickets</h1>
<mat-dialog-content>
    <div>
        In this screen you can upload your request form many tickets.
        <br>
        So you will see that the system can automatize the process for you.
    </div>
    <br>
    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file" (change)="uploadExcel($event)">
    </div>
</mat-dialog-content>
<mat-dialog-actions class="centered">
    <button mat-raised-button mat-dialog-close color="primary">Upload file</button>
    <button mat-raised-button mat-dialog-close="false">Cancel upload</button>
</mat-dialog-actions>
